In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("E1.csv")

In [3]:
data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,0,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,16:00,Man City,Everton,5,0,H,2,0,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,0,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,0,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,23/05/2021,16:00,Wolves,Man United,1,2,A,1,2,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [4]:
# http://football-data.co.uk/notes.txt

In [5]:
column_list = list(data.columns)

In [6]:
column_list

['Div',
 'Date',
 'Time',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'IWCH',
 'IWCD',
 'IWCA',
 'PSCH',
 'PSCD',
 'PSCA',
 'WHCH',
 'WHCD',
 'WHCA',
 'VCCH',
 'VCCD',
 'VCCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA']

In [7]:
newlist_columns = ['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee',
                  'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'MaxH', 'MaxD', 'MaxA',
                  'Max>2.5','Max<2.5',  ]

In [8]:
removed_list = data.drop(newlist_columns, axis=1)
removed_list

,Div,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,6.00,4.33,1.53,5.50,4.25,1.57,6.00,3.90,1.57,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,3.10,3.25,2.37,3.00,3.20,2.45,3.15,2.95,2.40,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,1.28,6.00,9.50,1.26,6.25,10.50,1.35,5.00,8.50,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,2.15,3.40,3.40,2.15,3.40,3.40,2.15,3.15,3.40,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,3.80,3.60,1.95,3.70,3.60,2.00,3.85,3.20,2.00,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,1.14,8.50,15.00,1.16,8.00,16.50,1.15,8.25,16.00,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,1.44,5.00,6.50,1.44,5.00,6.50,1.47,4.90,6.00,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,2.80,3.60,2.40,2.80,3.60,2.40,2.85,3.60,2.40,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,1.65,4.00,5.00,1.72,4.00,4.60,1.70,4.10,4.60,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,2.50,3.50,2.70,2.50,3.60,2.70,2.55,3.60,2.65,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [9]:
data.drop(removed_list, axis=1, inplace=True)
data

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AC,HY,AY,HR,AR,MaxH,MaxD,MaxA,Max>2.5,Max<2.5
0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,A,...,3,2,2,0,0,6.55,4.55,1.60,1.84,2.18
1,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,H,...,3,2,1,0,0,3.36,3.36,2.50,2.36,1.73
2,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,H,...,0,1,0,0,0,1.35,6.50,10.75,1.56,2.68
3,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,D,...,7,2,2,0,0,2.24,3.70,3.60,2.05,1.95
4,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,D,...,5,1,1,0,0,4.00,3.82,2.04,2.02,2.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,0,H,...,1,2,2,0,0,1.19,9.00,20.00,1.41,3.25
376,23/05/2021,16:00,Man City,Everton,5,0,H,2,0,H,...,5,2,2,0,0,1.48,5.25,7.40,1.68,2.43
377,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,0,H,...,9,3,1,0,0,2.90,3.76,2.48,1.80,2.21
378,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,0,H,...,3,0,3,0,0,1.76,4.18,5.04,1.70,2.40
379,23/05/2021,16:00,Wolves,Man United,1,2,A,1,2,A,...,2,4,1,0,0,2.63,3.78,2.81,1.81,2.26

In [10]:
data.columns

Index(['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'MaxH', 'MaxD', 'MaxA', 'Max>2.5',
       'Max<2.5'],
      dtype='object')

In [11]:
hide_list= ["Date", 'Time', 'Referee', 'MaxH', 'MaxD', 'MaxA', 'Max>2.5', 'Max<2.5']

In [12]:
short_data = data.drop(hide_list, axis=1 )

In [13]:
short_data

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Fulham,Arsenal,0,3,A,0,1,A,5,13,2,6,12,12,2,3,2,2,0,0
1,Crystal Palace,Southampton,1,0,H,1,0,H,5,9,3,5,14,11,7,3,2,1,0,0
2,Liverpool,Leeds,4,3,H,3,2,H,22,6,6,3,9,6,9,0,1,0,0,0
3,West Ham,Newcastle,0,2,A,0,0,D,15,15,3,2,13,7,8,7,2,2,0,0
4,West Brom,Leicester,0,3,A,0,0,D,7,13,1,7,12,9,2,5,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Crystal Palace,2,0,H,1,0,H,19,5,5,4,10,8,14,1,2,2,0,0
376,Man City,Everton,5,0,H,2,0,H,21,8,11,3,8,10,7,5,2,2,0,0
377,Sheffield United,Burnley,1,0,H,1,0,H,12,10,3,3,11,1,8,9,3,1,0,0
378,West Ham,Southampton,3,0,H,2,0,H,14,17,7,5,5,9,2,3,0,3,0,0
379,Wolves,Man United,1,2,A,1,2,A,14,9,4,4,14,3,6,2,4,1,0,0

In [15]:
short_data[short_data["HomeTeam"] == "Arsenal"]

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
11,Arsenal,West Ham,2,1,H,1,1,D,7,14,3,3,11,13,7,5,0,1,0,0
34,Arsenal,Sheffield United,2,1,H,0,0,D,6,6,5,2,3,9,2,4,0,1,0,0
55,Arsenal,Leicester,0,1,A,0,0,D,12,6,4,2,13,9,9,3,3,5,0,0
77,Arsenal,Aston Villa,0,3,A,0,1,A,13,15,2,6,11,13,3,8,0,0,0,0
95,Arsenal,Wolves,1,2,A,1,2,A,13,11,2,5,13,13,8,4,3,4,0,0
115,Arsenal,Burnley,0,1,A,0,0,D,18,10,6,2,5,11,13,4,2,1,1,0
119,Arsenal,Southampton,1,1,D,0,1,A,9,13,4,3,13,13,2,7,1,3,1,0
140,Arsenal,Chelsea,3,1,H,2,0,H,15,19,7,3,13,10,7,9,2,1,0,0
169,Arsenal,Crystal Palace,0,0,D,0,0,D,11,12,4,2,10,11,7,3,1,1,0,0
178,Arsenal,Newcastle,3,0,H,0,0,D,20,4,6,1,9,8,7,2,0,0,0,0
199,Arsenal,Man United,0,0,D,0,0,D,17,14,3,3,9,16,4,7,1,3,0,0
231,Arsenal,Leeds,4,2,H,3,0,H,13,9,5,5,8,17,4,5,0,2,0,0
244,Arsenal,Man City,0,1,A,0,1,A,7,15,1,3,11,9,1,3,2,2,0,0
283,Arsenal,Tottenham,2,1,H,1,1,D,13,6,3,3,12,14,6,3,1,2,0,1
293,Arsenal,Liverpool,0,3,A,0,0,D,3,16,2,7,10,10,1,2,1,1,0,0
313,Arsenal,Fulham,1,1,D,0,0,D,18,3,5,1,9,11,11,1,0,3,0,0
320,Arsenal,Everton,0,1,A,0,0,D,14,8,3,1,13,10,7,3,1,3,0,0
345,Arsenal,West Brom,3,1,H,2,0,H,15,12,7,1,7,9,6,6,1,2,0,0
370,Arsenal,Brighton,2,0,H,0,0,D,16,5,5,1,10,8,11,3,0,0,0,0